body {
	font-size: 14px !important;
}

#main {
	box-shadow: 10px 10x 5px;
}

#sidebar {
	margin-top: 50px !important;
	z-index: 1;
	height: 700px;
	overflow-y: scroll;
	overflow-x: hidden;
}

.full-height {
	margin-top: 50px !important;
	z-index: 1;
	height: 700px;
}

#templateListing {
	margin-top: 10px;
	/*overflow: hidden;*/
}

.templateListing {
	padding-right: 5px;
}

.overflow-hidden {
	overflow: hidden;
}

.noShow {
	margin-top: 60px;
}

#contextMenu {
    position: absolute;
    display:none;
}

.tempSearch {
	padding-top: 5px !important;
	margin-left: -15px !important;
}

.s-hr {
	margin-top: 0px !important ;
	margin-bottom: 8px !important;
}

.s-pbody {
	padding: 10px !important;
}

.f-pheading {
	padding: 8px !important;
	background-image: none !important;
	border-color: none !important;
	background: #16a085 !important;
}

/*.panel-primary,.panel-primary>.panel-heading, .panel-heading {
	border-color: #16a085 !important;
}

a.list-group-item.active, a.list-group-item.active:hover,
 a.list-group-item.active:focus,
 .list-group-item.active, .list-group-item.active:hover,
  .list-group-item.active:focus {
  	text-shadow: 0px -1px 0px #16a085;
	background-image: none;
	background-repeat: repeat-x;
	border-color: #16a085;
	z-index: 2;
	color: #FFF;
	background-color: #16a085;
	border-color: #16a085;
}
*/

.animate-enter, 
.animate-leave
{ 
	-webkit-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
	-moz-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
	-ms-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
	-o-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
	transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
	position: relative;
	display: block;
	overflow: hidden;
	text-overflow: clip;
	white-space:nowrap;
} 

.animate-leave.animate-leave-active,
.animate-enter {
	opacity: 0;
	width: 0px;
	height: 0px;
}

.animate-enter.animate-enter-active, 
.animate-leave {
	opacity: 1;
	width: 150px;
	height: 30px;
}
